.logo {
    height: 30px;
}

.white {
    background-color: white !important;
}

.grey {
    background-color: lightgray !important;
}

.lr_page_padding {
    padding-left: 30px;
    padding-right: 30px;
}

.tp_padding {
    padding-top: 30px;
    padding-bottom: 30px;
}