    .logo {
        height: 30px;
    }
    
    .white {
        background-color: white !important;
    }
    
    .grey {
        background-color: lightgray !important;
    }
    
    .house_pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50vh;
        border: lightgray solid 1px;
    }
    
    .house_thumbnails {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 40px;
        padding: 20px;
    }
    
    .main_img {
        /* width: 100%; */
        background-size: cover;
    }
    
    .house_thumbnail {
        background-size: cover;
    }
    
    .inline {
        display: inline-block;
    }
    
    .circular--square {
        border-radius: 50%;
    }
    
    .avatar_img {
        height: 4rem;
        width: 4rem;
        background-size: cover;
    }
    
    .send_message {
        border: 1px solid lightgray;
        box-shadow: 1px 5px 20px rgba(168, 168, 168, 0.5);
        padding: 12px;
    }
    
    .host_avatar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: min-content;
        white-space: nowrap;
    }
    
    .review {
        border: solid 1px lightgray;
    }
    /* login */
    
    .bg_image {
        height: 100vh;
        background-size: cover;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .login_card {
        width: 40vh;
        background-color: rgb(243, 242, 242);
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
        padding: 12px;
    }
    
    .center {
        display: block;
        margin: auto;
    }